body {
    background-color: #4f6780;
    color: #475054;
    font-family: "Roboto", Arial, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}
a,li,i, a .fa {
    -webkit-transition: color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in, transform .2s ease-in;
    -moz-transition: color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in, transform .2s ease-in;
    transition: color .2s ease-in, background-color .2s ease-in, box-shadow .2s ease-in, transform .2s ease-in;
}
.wrapper {
    width: 930px;
    margin: 0 auto;
    padding: 106px 0;
}
.float-left{
    float: left;
}
.float-right {
    float: right;
}
.box{
    background: #fff;
}
.grid{
    margin-left: -15px;
}
.grid > [class*="col-"]{
    float: left;
    padding-left: 15px;

    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.grid.no-pad{
    margin-left: 0;
}
.grid.no-pad > [class*="col-"] {
    padding-left: 0;
}

.grid > .col-1-2{
    width: 50%;
}
.grid > .col-1-3{
    width: 33.3333%;
}
.grid > .col-2-3{
    width: 66.66666%;
}

.row {
    margin-bottom: 15px;
}

.header-top{
    line-height: 60px;
    background-color: #fff;
}

.header-top a{
    display: block;
}
.menu-toggle{
    background-color: #56ccc8;
    width: 60px;
    text-align: center;
    color:#fff;
    font-size: 22px;
}
.main-menu li{
    float: left;
    position: relative;
}
.main-menu li a,
.side-menu li a{
    display: block;
    padding: 0 25px;
    color: inherit;
    text-decoration: none;
    text-transform: capitalize;
}
.main-menu li a:hover{
    color: #56ccc8;
}
.main-menu{
    padding-left: 25px;

}
.main-menu .drop-down {
    position: absolute;
    width: 250px;
    background-color: #fff;
    top: 100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;
    transform: translateY(-25px) scale(0.8);

}
.main-menu .drop-down li .drop-down {
    left: 100%;
    top: 0;
    transform: translateY(25px) scale(0.8);
}

.main-menu li:hover>.drop-down {
    visibility: visible;
    opacity: 1;
    transform: translate(0) scale(1);

}
.main-menu .drop-down li {
    float: none;
    line-height: 1.3;
}
.main-menu .drop-down li a {
    padding-top: 15px;
    padding-bottom: 15px;
    border-top: 1px solid #e0e0e0;
}
.user-cont {
    min-width: 250px;
}

.user-cont a{
    float: left;
    padding: 0 25px;
}
.socials {
    border-left: 1px solid #dde2e4;
    border-right: 1px solid #dde2e4;
    padding: 0 10px;

}
.socials li{
    float: left;
}
.socials li a{
    padding: 0 10px ;
}

.user-cont a{
    color: #b2b9bd;
}

.user-cont a:hover{
    color: #56ccc8;
}

/* Header Top */
.side-menu {
    background: #ffffff;

}

.side-menu li a{
    border-bottom: 1px solid #E1E5E7;
    line-height: 60px;
    padding-left: 20px;
    padding-right: 20px;
}
.side-menu li a:hover{
    background-color: #56CCC8;
    color: #ffffff;
}
.side-menu li a:active{
    background-color: #263A54;
}

.side-menu li a .fa{
    color: #c5cdd1;
    font-size: 21px;
    margin-right: 26px;
    min-width: 22px;
}
.side-menu li a:hover .fa{
    color: #ffffff;
}
.contacts{
    background-color: #C5CDD1;
    padding: 30px 20px;
    color: #ffffff;
    box-shadow:inset 0 1px 1px  rgba(0,0,0,.1);
    font-size: 14px;

}
.contacts .location,
.contacts .emails{
    margin-top: 30px;
}
.contacts .phones,
.contacts .location,
.contacts .emails{
    padding-left: 40px;
    position: relative;

}
.contacts .fa{
    position: absolute;
    left: 0;
    top: 0;
    font-size: 22px;
}
.contacts a{
    color: #ffffff;
    text-decoration: none;

}
.contacts a:hover{
    text-decoration: underline;
}
.categories{
    background-color: #15273F;

}
.categories li a{
    text-decoration: none;
    display: block;
    padding-left: 34px;
    line-height: 30px;

}
.categories>li>a{
    color: #55CBC7;
    font-size: 16px;
}
.categories>li>a:hover{
    color: #fff;
    background-color: #55CBC7;
}
.sub-categories li a{
    color: #fff;
    font-size: 15px;

}
.sub-categories li a:hover {
    color: #55CBC7;

}
.categories>li{
    border-bottom: 1px solid #46637C;
    padding-top: 23px;
    padding-bottom: 22.5px;
}
.categories>li:last-child {
    border: none;
}
.categories i{
    float: right;
    padding-right: 20px;
    font-size: 18px;
    line-height: 30px;
}
.categories>li:hover{
    background-color: #253953;
}
.follow-menu {
    background-color: #fff;
    padding: 30px 0 10px 28px;

}
.follow-menu li{
    height: 53px;
}
.follow-menu li a {
    display: block;
    text-decoration: none;
    color: #666D71;
    font-size: 16px;
    line-height: 28px;
}
.follow-menu li a i{
    background-color: #C4CCD0;
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
    border-radius: 50%;
    font-size: 17px;
    line-height: 30px;
    color: #fff;
    margin-right: 22px;
}
.follow-menu li a:hover {
    color:#4FC5F6;
}
.follow-menu li a:hover i {
    background-color: #4FC5F6;
}
.follow-facebook > a > i,.follow-twitter > a > i{
    font-size: 42px;
    color: #fff;

}
.follow-twitter,.follow-facebook{
    padding: 25px 16px 20px 20px;
    height:145px;
    box-sizing: border-box;

}
.follow-facebook {
    background-color: #4D6BA9;
    margin-bottom: 15px;
}
.follow-twitter{
    background-color: #4FC5F6;

}

.follow-facebook p a,
.follow-twitter p a
{
    color: #fff;
    text-decoration: none;
    line-height: 28px;
    font-weight: 300;
    display: inline-block;
}
.follow-twitter p,
.follow-facebook p
{
    line-height: 31px;
    color: #ffffff;
    font-weight: bold;
    position: relative;
    top: 35px;

}
.follow-facebook p a i,
.follow-twitter p a i
{
    margin-left: 12px;
    font-size: 25px;
    line-height:28px;
}
.follow-box{
    margin-bottom: 15px;
}
.sign-in {
    background-color: #fff;
    box-sizing: border-box;
    height: 180px;
    padding-top: 28px;
    padding-bottom: 26px;
    margin-bottom: 15px;


}
.sign-in h2 {
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #464F54;
}
.sign-in p {
    color: #464F54;
    text-align: center;
    font-size: 15px;
    line-height: 28px;
}
.sign-in ul{

    width: 260px;
    margin:0 auto;
    position: relative;
    top:30px;
}
.sign-in li {
    display: inline-block;
    width: 60px;
    text-align: center;

}
.sign-in li a {
    color: #ffffff;
}
.sign-in li a:hover i {
    box-shadow:inset 0 0 6px rgba(0,0,0,0.8);
}
.sign-in i.fa {
    border-radius: 50%;
    width: 34px;
    height: 34px;
    line-height: 34px;
    font-size: 16px;
}
.sign-in i.fa-facebook {
    background-color: #4D6BA9;
}
.sign-in i.fa-twitter {
    background-color: #4FC5F6;
}
.sign-in i.fa-google-plus {
    background-color: #E95F5F;
}
.sign-in i.fa-linkedin {
    background-color: #248CC6;
}
.join {
    box-sizing: border-box;
    height: 180px;
    background-color: #fff;
    padding: 25px 25px ;
}
.join h2 {
    font-size: 24px;
    text-align: center;
    line-height: 28px;
    color: #464F54;

}
.join p {
    color: #464F54;
    text-align: center;
    font-size: 12px;
    line-height: 28px;
    padding-top: 10px;
}
input[type="text"],
input[type="submit"] {
    font-size: 14px;
    line-height: 38px;
    height: 38px;
    padding: 0 20px;

}
input[type="submit"] {
    box-shadow: none;
    background-color: #E95F5F;
    color: #fff;
    border-radius: 5px;
    border: none;
    margin-left: 15px;
    cursor: pointer;
}
input[type="submit"]:active {
    box-shadow:inset 0 0 15px rgba(0,0,0,0.8);
    border: none;
    outline: none;

}
input[type="submit"]:focus {
    outline: none;
}
input[type="text"] {
    width: 288px;
    box-sizing: border-box;
}
form {
    position: relative;
    top:15px;
}
/*--SLIDER--*/
.slider {
    background-color: #777777;
    height: 455px;
    box-sizing: border-box;
    position: relative;
    padding-left: 60px;
}
.slider h2 {
    font-size: 46px;
    line-height: 46px;
    color: #ffffff;
    font-weight: 300;
    padding-bottom: 35px;
    position: absolute;
    top:50px;
}
.slider p {
    font-size: 14px;
    color: #ffffff;
    line-height: 24px;
    width: 355px;
    position: absolute;
    top: 115px;
}
.slider a {
    text-transform: uppercase;
    color: #ffffff;
    text-decoration: none;
    padding: 15px 40px;
    border: 1px solid #ffffff;
    border-radius: 4px;
    font-size: 16px;
    line-height: 16px;
    position: absolute;
    top: 50%;
}
.slider a:hover {
    background-color: #fff;
    color: #575757;
}
.slider a.next ,.slider a.prev{
    border:none;
    position:absolute;
    color: #575757;
    font-size: 16px;
    background-color: #fff;
    padding:16px 14px 16px 12px;
}
.slider a.prev {
    left:0%;
    border-radius:0px 4px 4px 0px;
}
.slider a.next{
    right:0%;
    border-radius:4px 0px 0px 4px;
}
.slider a.next:hover ,.slider a.prev:hover {
    transform: scale(0.9,0.9);
}
.circle {
    display: inline-block;
    position: absolute;
    bottom: 20px;
    left: 45%;

}
.circle span {
    margin-right: 7px;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    border: 1px solid #fff;
    display: block;
    float:left
}
.circle span.active {
    background-color: #fff;
}

/*--\SLIDER--*/

